html,body {
  background: #f9f9f9;
  margin:auto;
  padding:0;
}

canvas {
  border: 1px dotted lightgray;
}

.container{
    position: absolute;
    height: 99%;
    width: 100%;
    text-align:center;
    margin:auto;
}

.chart-container {
  height: 95%;
  width: 40%;
  position: relative;
  margin: 2%;
  display:inline-block;
  }